<flynt-component name="BlockServices" load:on="visible">
<div class="services-container">
  <div class="services-header">
    <a class="services-link" href="/wordpress/index.php/par-mums">
      {{  link  }} 
      <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_35_557)">
      <path d="M6.21521 12.4932L16.3766 2.47754" stroke="black" stroke-width="1.45899" stroke-linecap="square" stroke-linejoin="bevel"/>
      <path d="M6.21521 1.81348H16.8957V12.4939" stroke="black" stroke-width="1.45899" stroke-linecap="square" stroke-linejoin="bevel"/>
      </g>
      <defs>
      <clipPath id="clip0_35_557">
      <rect width="23.1108" height="13.6953" fill="white"/>
      </clipPath>
      </defs>
      </svg>
    </a>
    <div class="services-title-container">
      <span class="services-title">{{ title.title_start }}<span style="color: #F0963C;">{{ title.spanned_word }} </span>{{ title.title_end }}</span>
      <p class="services-subtitle">{{ subtitle }}</p>
    </div>
  </div>
  <div class="services-content">
    <svg class="services-line" width="5" height="528" viewBox="0 0 5 528" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line y1="-1.5" x2="252.445" y2="-1.5" transform="matrix(0.00389416 0.999992 1 0 3 0)" stroke="black" stroke-width="3"/>
    <line y1="-1.5" x2="252.445" y2="-1.5" transform="matrix(0.00396124 0.999992 1 0 3.98303 275.557)" stroke="#E0E0E0" stroke-width="3"/>
    </svg>
    <img src="http://localhost:8888/wordpress/wp-content/themes/custom-theme/assets/images/services-image.svg" class="services-image"></img>
    <table class="services-table">
      <tbody>
      {% for i in 1..4 %}
        <tr class="services-table-item">
          <td class="services-table-number">0{{ i }}</td>
          <td class="services-table-label">{{ table[i].col_1 }}</td>
          <td class="services-table-content">{{ table[i].col_2 }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</flynt-component>
