<flynt-component name="BlockAbout" load:on="visible">
<section class="about">
  <div class="about-container">
    <div class="about-header">
      <span class="about-title">{{ about_content.title }}</span>
      <a class="about-link" href="/wordpress/index.php/par-mums">{{ about_link }} <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_35_557)">
        <path d="M6.21521 12.4932L16.3766 2.47754" stroke="black" stroke-width="1.45899" stroke-linecap="square" stroke-linejoin="bevel"/>
        <path d="M6.21521 1.81348H16.8957V12.4939" stroke="black" stroke-width="1.45899" stroke-linecap="square" stroke-linejoin="bevel"/>
        </g>
        <defs>
        <clipPath id="clip0_35_557">
        <rect width="23.1108" height="13.6953" fill="white"/>
        </clipPath>
        </defs>
        </svg>
      </a>
    </div>
    <p class="about-subtitle">{{ about_content.subtitle }}</p>
    <div class="about-boxes">
      <div class="about-box">
        <span class="about-box-top">{{ about_boxes.box_1.top }}</span>
        <span class="about-box-text">
          {{ about_boxes.box_1.bottom }}
        </span>
      </div>
      <div class="about-box">
        <span class="about-box-top">{{ about_boxes.box_2.top }}</span>
        <span class="about-box-text">
          {{ about_boxes.box_2.bottom }}
        </span>
      </div>
      <div class="about-box-fortune">
        <span class="about-box-top">{{ about_boxes.box_3.top }}</span>
        <span class="about-box-text">
          {{ about_boxes.box_3.bottom }}
        </span>
      </div>

      <div class="about-box" style="background-image: url('http://localhost:8888/wordpress/wp-content/themes/custom-theme/assets/images/about-box.svg'); align-items: center; text-align: center;">
        <svg width="133" height="62" viewBox="0 0 133 62" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M89.1315 40.1494C90.9017 40.1494 92.4387 40.5308 93.7418 41.293C95.0446 42.0551 96.0157 43.0136 96.6549 44.1689V40.4814H100.048V60.6924H96.6549V56.9307C95.991 58.1107 94.9952 59.0941 93.6676 59.8809C92.3645 60.643 90.8401 61.0244 89.0944 61.0244C87.2995 61.0244 85.6769 60.5814 84.2262 59.6963C82.7756 58.8112 81.6325 57.5697 80.7965 55.9717C79.9605 54.3735 79.5416 52.5535 79.5416 50.5127C79.5417 48.4475 79.9606 46.6407 80.7965 45.0918C81.6325 43.5182 82.7755 42.301 84.2262 41.4404C85.7015 40.5799 87.3366 40.1494 89.1315 40.1494ZM68.233 10.8438C68.9215 9.63902 69.9288 8.65478 71.2565 7.89258C72.5842 7.13035 74.097 6.74902 75.7936 6.74902C77.613 6.74906 79.2482 7.1795 80.6989 8.04004C82.1495 8.90058 83.2926 10.1179 84.1285 11.6914C84.9645 13.2404 85.3824 15.0479 85.3824 17.1133C85.3824 19.1539 84.9644 20.9732 84.1285 22.5713C83.2926 24.1695 82.137 25.4117 80.6617 26.2969C79.2111 27.182 77.5884 27.625 75.7936 27.625C74.0479 27.625 72.5109 27.2436 71.1832 26.4814C69.8801 25.7192 68.8969 24.7476 68.233 23.5674V57.9629H77.2321V60.6924H64.8766V0H68.233V10.8438ZM111.4 57.4473L116.416 40.4814H119.846L124.752 57.4834L129.325 40.4814H132.644L126.338 60.6924H122.87L118.002 44.6484L113.133 60.6924H109.667L103.323 40.4814H106.753L111.4 57.4473ZM89.7955 43.0625C88.5415 43.0625 87.3976 43.3581 86.3649 43.9482C85.3324 44.5383 84.5088 45.3986 83.8942 46.5293C83.2795 47.6603 82.9723 48.9884 82.9723 50.5127C82.9723 52.0617 83.2795 53.4147 83.8942 54.5703C84.5088 55.7011 85.3324 56.5738 86.3649 57.1885C87.3976 57.7786 88.5415 58.0742 89.7955 58.0742C91.0494 58.0742 92.1926 57.7785 93.2252 57.1885C94.2824 56.5738 95.1184 55.7012 95.733 54.5703C96.3477 53.4147 96.6549 52.0743 96.6549 50.5498C96.6549 49.0254 96.3477 47.6974 95.733 46.5664C95.1184 45.4356 94.2823 44.5754 93.2252 43.9854C92.1926 43.3707 91.0494 43.0626 89.7955 43.0625ZM98.5416 6.74902C100.459 6.74906 102.156 7.16697 103.631 8.00293C105.107 8.83891 106.237 9.99547 107.024 11.4707C107.835 12.9212 108.241 14.5683 108.241 16.4121C108.241 17.0513 108.204 17.7275 108.13 18.4404H91.9762C92.0991 20.432 92.7752 21.994 94.0045 23.125C95.2585 24.2315 96.7713 24.7842 98.5416 24.7842C99.9922 24.7841 101.197 24.4529 102.156 23.7891C103.139 23.1006 103.828 22.1906 104.221 21.0596H107.836C107.295 23.0019 106.213 24.588 104.59 25.8174C102.968 27.0222 100.951 27.624 98.5416 27.624C96.6238 27.624 94.902 27.1946 93.3776 26.334C91.8779 25.4735 90.6981 24.256 89.8375 22.6826C88.977 21.0845 88.5466 19.2402 88.5465 17.1504C88.5465 15.0604 88.9644 13.2279 89.8004 11.6543C90.6364 10.0808 91.8045 8.87598 93.3043 8.04004C94.8287 7.17954 96.5747 6.74902 98.5416 6.74902ZM22.8268 27.293H19.2867L17.2213 21.5762H6.0094L3.94397 27.293H0.402954L9.6969 1.7334H13.5699L22.8268 27.293ZM51.1832 6.71289C52.7566 6.71291 54.1581 7.04427 55.3873 7.70801C56.6167 8.34729 57.5883 9.31891 58.3014 10.6221C59.0144 11.9252 59.3707 13.5113 59.3707 15.3799V27.293H56.0514V15.8594C56.0514 13.8433 55.5476 12.3063 54.5397 11.249C53.5562 10.1672 52.2157 9.62598 50.5192 9.62598C48.7735 9.62598 47.3839 10.1913 46.3512 11.3223C45.3185 12.4287 44.8024 14.0397 44.8024 16.1543V27.293H41.483V15.8594C41.483 13.8433 40.9793 12.3063 39.9713 11.249C38.9878 10.1672 37.6474 9.62598 35.9508 9.62598C34.2051 9.62599 32.8155 10.1913 31.7828 11.3223C30.7501 12.4287 30.234 14.0397 30.234 16.1543V27.293H26.8776V7.08105H30.234V9.99512C30.8978 8.9379 31.7829 8.12606 32.8893 7.56055C34.0203 6.99502 35.2625 6.71289 36.6149 6.71289C38.3112 6.71291 39.8109 7.09345 41.1139 7.85547C42.417 8.61767 43.3887 9.73671 44.028 11.2119C44.5935 9.78594 45.5277 8.67936 46.8307 7.89258C48.1338 7.10576 49.585 6.71289 51.1832 6.71289ZM122.556 10.1797H121.671C117.909 10.1797 116.028 12.2202 116.028 16.3018V27.293H112.672V7.08105H116.028V10.3643C116.618 9.20867 117.454 8.31115 118.536 7.67188C119.642 7.03259 120.983 6.71289 122.556 6.71289V10.1797ZM75.0924 9.66309C73.8631 9.66312 72.7199 9.97036 71.6627 10.585C70.63 11.1751 69.7942 12.0485 69.1549 13.2041C68.5403 14.3351 68.233 15.6506 68.233 17.1504C68.2331 18.6747 68.5403 20.0144 69.1549 21.1699C69.7942 22.301 70.63 23.1744 71.6627 23.7891C72.7199 24.3791 73.8632 24.6738 75.0924 24.6738C76.3464 24.6738 77.4904 24.3792 78.5231 23.7891C79.5802 23.1744 80.4162 22.3009 81.0309 21.1699C81.6454 20.0144 81.9527 18.6621 81.9528 17.1133C81.9528 15.5889 81.6456 14.2609 81.0309 13.1299C80.4162 11.9989 79.5803 11.138 78.5231 10.5479C77.4904 9.95774 76.3464 9.66309 75.0924 9.66309ZM6.96838 18.8467H16.2623L11.6149 5.86426L6.96838 18.8467ZM98.3942 9.58887C96.6976 9.58887 95.2464 10.13 94.0416 11.2119C92.8614 12.2938 92.1854 13.7941 92.0133 15.7119H104.774C104.774 14.4333 104.492 13.3385 103.926 12.4287C103.361 11.4945 102.586 10.7943 101.602 10.3271C100.643 9.83551 99.5742 9.58891 98.3942 9.58887Z" fill="white"/>
          <rect y="33" width="59.5043" height="28.0248" rx="14.0124" fill="#F0963C"/>
        </svg>
        <span style="background-color: white; color: black; padding: 10px 20px; border-radius: 100px; margin-top: 20px;">
          {{ about_boxes.box_4.text }}
        </span>
      </div>
      
  </div>
</section>
</flynt-component>
